<table class="table table-bordered">
	<thead>
		<tr>
			<th>Introduce</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<strong>	建议大家使用rss访问阅读。 </strong>
				<br> 
				<a href="http://r.qq.com/cgi-bin/reader_switch?u={{ site.domain }}" target="_blank">
					<img src="http://res.mail.qq.com/zh_CN/htmledition/images/rss/icon_sub01.gif"/>
				</a>
			</td>
		</tr>
	</tbody>
</table>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Tags</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<ul>
					{% assign tags_list = site.tags | limitHashCount:20 %}
					 {% include JB/tags_list %}
					 <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}"><u><strong><em>...更多标签...</em></strong></u></a>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
